<div class="jumbotron jumbotron-contact jumbotron-fluid">
  <div class="container">
    <div class="texte-bienvenue text-center">
      <h1 class="display-4">Contactez-nous</h1><br /><br />
    </div>
  </div>
</div>

<div class="container-fluid text-center row">
  <div class="texte-bienvenue col-sm-4">
    <h1>Notre siège</h1><br />
    <p>Poudlard</p>
    <p>King's Cross, ligne 9 3/4</p>
  </div>
  <div class="texte-bienvenue col-sm-4">
    <h1>Téléphone</h1><br />
    <p>01.02.03.04.05</p>
    <p>On est dispo h24 ! Ou pas...</p>
  </div>
  <div class="texte-bienvenue col-sm-4">
    <h1>Hibou</h1><br />
    <p>Envoie-nous un message à Poudlard</p>
    <p>Ou bien envoie un email à "hello@thegossipproject.com"</p>
  </div>
</div>
 
