<header>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ffc0cb;">
    <a class="navbar-brand" href="https://github.com/agnesarth/the_gossip_project_le_retour">The Gossip Project</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/gossips">Accueil</a>
        </li>
        <li class="nav-item">
        <%= link_to "La Team", team_path, class:"nav-link" %>
        </li>
        <li class="nav-item active">
          <%= link_to "Contact", contact_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "S'inscrire", new_user_path, class:"nav-link" %>
        </li>
      </ul>
    </div>
  </nav>
</header>

<div class="jumbotron jumbotron-contact jumbotron-fluid">
  <div class="container">
    <div class="texte-bienvenue text-center">
      <h1 class="display-4">Contactez-nous</h1><br /><br />
    </div>
  </div>
</div>

<div class="container-fluid text-center row">
  <div class="texte-bienvenue col-sm-4">
    <h1>Notre siège</h1><br />
    <p>Poudlard</p>
    <p>King's Cross, ligne 9 3/4</p>
  </div>
  <div class="texte-bienvenue col-sm-4">
    <h1>Téléphone</h1><br />
    <p>01.02.03.04.05</p>
    <p>On est dispo h24 ! Ou pas...</p>
  </div>
  <div class="texte-bienvenue col-sm-4">
    <h1>Hibou</h1><br />
    <p>Envoie-nous un message à Poudlard</p>
    <p>Ou bien envoie un email à "hello@thegossipproject.com"</p>
  </div>
</div>
 
