<div class="container-fluid text-center">
  <div class="texte-bienvenue">
    <h1>Editer le commentaire</h1>
  </div>
  <!-- Editer un commentaire ici -->
  <%= form_for @comment do |f| %>
    <div class="form-group">
      <label> Commentaire à modifier </label>
      <%= f.text_area :content, class: 'form-control' %>
    </div>
    <div class="form-group">
    <button type="submit" class="btn" style="background-color: #ffc0cb">Modifier le commentaire</button>
   
    <!-- Supprimer un commentaire ici -->
    <a href="/comments/<%= @comment.id %>" class="btn btn-danger" data-confirm="T'es sûr(e) de vouloir supprimer ça ?" data-method="DELETE">Supprimer le commentaire</a>
    </div>
  <% end %>
</div>
