<div class="container-fluid">
  <div class="texte-bienvenue">
    <h1>Salut, salut <%= params[:user_entry]%> !</h1>
    <p>Voici le message de l'URL : <%= params[:user_entry]%></p>
  </div>
</div>





