.card {
  margin-bottom: 20px;
}

.texte-bienvenue{
  margin-top: 20px;
  margin-bottom: 40px;
}

.texte-bienvenue h1 a{
  color: #fd6c9e;
}

.btn-outline-secondary{
  margin-bottom: 20px;
}

.texte-bienvenue p a{
  color: #fd6c9e;
}

.jumbotron-accueil{
  background-image: url("dolores_ombrage.gif");
  background-size: cover;
  color: #faf0e6;
}

.jumbotron-contact{
  background-image: url("dolores_ombrage.png");
  background-size: cover;
  color: #faf0e6;
}

.row p{
  margin-bottom: 0;
}

.jumbotron h1{
  margin-bottom: 270px;
}

.card-img-left{
  height: 120px;
  width: auto;
}

.well{
  background-color: #F5F5F5;
  border-radius: 10px;
}

.row{
  text-align: center;
  display: flex ;
  justify-content: center ;
  align-content: center; 
}

.col-sm-7 p{
  padding-bottom: 3%;
  padding-top: 3%;
  text-align: left;

}

.col-sm-1 {
  margin-bottom: auto;
  margin-top: auto;
}

.col-sm-8 {
  text-align: center;
  display: flex ;
}