.card {
  margin-bottom: 20px;
}

.texte-bienvenue{
  margin-top: 20px;
  margin-bottom: 40px;
}

.texte-bienvenue h1 a{
  color: #fd6c9e;
}

.btn-outline-secondary{
  margin-bottom: 20px;
}

.texte-bienvenue p a{
  color: #fd6c9e;
}

.jumbotron{
  background-image: url("dolores_ombrage.gif");
  background-size: cover;
  color: #faf0e6;
}

.row p{
  margin-bottom: 0;
}

.jumbotron h1{
  margin-bottom: 270px;
}

.card-img-left{
  height: 120px;
  width: auto;
}